.nomalRightIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  position: absolute;
  width: 150px;
  height: 40px;
  left: 206px;
  top: 314px;
  border: none;
  /* Grey / 1 */

  background: #f7f8fb;
  border-radius: 8px;
}
.calenderIcon {
  position: static;
  width: 24px;
  height: 24px;
  left: 106px;
  top: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
  svg {
    position: absolute;
    right: 70px;
    top: 330px;
  }
}
