.noDisable {
  /* Frame 84 */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Grey/4 */

  border: 2px solid #a5a8b1;
  box-sizing: border-box;
  border-radius: 4px;
  .noDisCheckboxEllipse {
    position: absolute;
    visibility: hidden;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;

    /* Blue/5 */

    border: 1px solid #3599d0;
    box-sizing: border-box;
  }
}
