.nomalNoIcon{
    position: absolute;
    height: 40px;
    width: 234px;
    left: 20px;
    top: 167px;
    border-radius: 8px;
    background: #F1F4F8;
    padding: 10px 16px 10px 12px;
    box-sizing: border-box;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}