.SelectedOn {
  /* Selected=on */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 16px;

  position: absolute;
  width: 236px;
  height: 56px;
  left: 20px;
  top: 20px;
  /* Yellow/0 */

  background: #ffb800;
  border-radius: 8px;
  box-sizing: border-box;
  .SelectedOnIcon {
    /* u:home-alt */

    position: static;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 15px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
  }

  .SelectedOnTitle {
    /* Sample */

    position: static;
    width: 71px;
    height: 26px;
    left: 52px;
    top: 15px;
    p {
      /* Inside Auto Layout */

      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 12px;
      /* 18 bold */

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
    }
  }
}
