.yesEnableCheckBox {
  /* Check=Yes, State=Enable */
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
  .yesEnableFrame {
    /* Frame 85 */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* checkbox */

    background: #27aef9;
    /* checkbox */

    border: 1px solid #27aef9;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
