.numberous {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  position: relative;
  width: 46px;
  height: 46px;

  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(50, 50, 71, 0.25);
  border-radius: 12px;
  p {
    position: static;
    width: 25px;
    height: 22px;
    left: 10.5px;
    top: 12px;

    /* 14 regular */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    /* Text */

    color: #1e0d03;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }
}
