.outlinelXLLeftIcon {
  /* State=Outline, Size=XL, Icons=Left icon */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;

  position: absolute;
  width: 137px;
  height: 48px;
  left: 20px;
  top: 138px;

  /* Yellow/1 */

  border: 1px solid #ff993c;
  box-sizing: border-box;
  border-radius: 6px;
  buttonIcon {
    /* fi:filter */

    position: static;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    svg {
      /* Vector */

      position: absolute;
      left: 8.33%;
      right: 8.33%;
      top: 12.5%;
      bottom: 12.5%;

      /* Yellow/1 */

      border: 2px solid #ff993c;
    }
  }
  span {
    /* Sample */

    position: static;
    width: 71px;
    height: 26px;
    left: 50px;
    top: 11px;

    /* 18 bold */

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    /* Yellow/1 */

    color: #ff993c;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }
}
