.fillRightIcon{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 234px;
    height: 40px;
    border-radius: 8px;
    padding: 10px 16px 10px 12px;
    background: #E5E5E5;
    color:#A5A8B1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid #A5A8B1;
}