.fillRightIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;

  position: absolute;
  width: 150px;
  height: 40px;
  // left: 304px;
  // top: 95px;

  /* Grey/4 */

  border: 1px solid #a5a8b1;
  box-sizing: border-box;
  border-radius: 8px;
}
.calenderIcon {
  position: static;
  width: 24px;
  height: 24px;
  left: 152px;
  top: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 28px;
  svg {
    position: absolute;
    right: 60px;
    top: 258px;
  }
}
