.nomalRightIcon {
  background: #f1f4f8;
  padding: 8px 12px;
  width: 142px;
  height: 40px;
  // left: 304px;
  // top: 167px;
  border-radius: 8px;
  opacity: 0.7;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  border: none;
}

.nomalRightIcon::-webkit-calendar-picker-indicator {
  background: #ff993c;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  border-radius: 0px;
}
