.outlinelMLeftIcon {
  /* State=Outline, Size=M, Icons=Left icon */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;

  position: absolute;
  width: 121px;
  height: 36px;
  left: 260px;
  top: 68px;

  /* Yellow/1 */

  border: 1px solid #ff993c;
  box-sizing: border-box;
  border-radius: 6px;
  buttonIcon {
    /* Vector */

    /* fi:filter */

    position: static;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 6px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    /* Yellow/1 */

    border: 2px solid #ff993c;
    svg {
      /* Vector */

      position: absolute;
      left: 8.33%;
      right: 8.33%;
      top: 12.5%;
      bottom: 12.5%;

      /* Yellow/1 */

      border: 2px solid #ff993c;
    }
  }
  span {
    /* Sample */

    position: static;
    width: 55px;
    height: 22px;
    left: 50px;
    top: 7px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;

    /* Yellow/1 */

    color: #ff993c;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }
}
