.disableIcon {
  padding: 8px 16px;
  height: 40px;
  width: 142px;
  left: 304px;
  top: 20px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  background: #e0e0e0;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #a5a8b1;
  icon {
    color: red;
  }
}
